apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: buzz-webapp-deployment
  name: buzz-webapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: buzz-webapp
  template:
    metadata:
      labels:
        app: buzz-webapp
    spec:
      containers:
      - name: buzz-webapp
        image: dialogicbuzz/buzz-webapp:4.0.0

